{% extends "base.html" %}
{% load static %}
{% block title %}
Cafe_CRM. Список заказов
{% endblock title %}

{% block content %}
  <div class="row mt-3">
  <h1 class="pb-2 mb-0">Список заказов за смену</h1>
  </div>
  <div class="mb-3">
    <a href="{% url 'orders:order_create' %}" type="button" class="btn btn-primary btn-lg" >+ Создать новый заказ</a>
  </div>

  {% include 'orders/includes/filters.html' %}

  <article class="mb-3">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="table-secondary">
              <th scope="col">ID</th>
              <th scope="col">Стол</th>
              <th scope="col">Список блюд в заказе</th>
              <th scope="col">Общая стоимость, руб.</th>
              <th scope="col">Статус</th>
            </tr>
          </thead>
          <tbody>
            {% for order in page_obj %}
              <tr onclick="window.location='{% url 'orders:order_edit' order.id %}';" style="cursor: pointer;">
                <td>
                  <a href="{% url 'orders:order_edit' order.id %}">
                    {{ order.id }}
                  </a>
                </td>
                <td>{{ order.table_number }}</td>
                <td>
                  {% for item in order.items_in_order.all %}
                    {{ forloop.counter }}. {{ item }}
                    <br>
                  {% endfor %}
                </td>
                <td>{{ order.total_price }}</td>
                <td>
                  <span class="badge 
                    {% if 'PAID' in order.status %}
                      bg-success
                    {% elif 'READY' in order.status %}
                      bg-warning text-dark
                    {% else %}
                      bg-secondary
                    {% endif %}
                    text-light w-100 text-light">
                    {{ order.get_status_display }}
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</article>
  {% include "includes/pagination.html" %}
{% endblock content %}
